.contact-container {
    position: absolute;
    width: 45%;
    height: auto;
    top: 18%;
    left: 30%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 8px;

    .contact-wrapper {
        // text-align: center;
        .contact-header {
            text-align: center;
            padding-top: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 700;
            color: black;
            padding-bottom: 20px;

            h2 {
                font-size: 28px;
                font-weight: bold;
            }

            h6 {
                line-height: 5px;
                font-weight: bold;
                font-size: 13px;
            }
        }
    }
    .contact-section {
        padding-top: 30px;
        border: 1px solid #ddd;
        border-radius: 8px;
        width: 90%;
        padding: 6px;
        margin-bottom: 10px;
        margin: 20px 15px;
        // display: grid;
        // grid-template-columns: repeat(3, 1fr);
        // justify-content: center;
        .contact-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .contact-icon {
            font-size: 30px;
            color: $secondaryColor;
        }

        .contact-text {
            flex: 3;
            margin: 0 auto;
            margin: 20px;
            line-height: 5px;

            h5 {
                font-size: 18px;
                font-weight: 700;
            }

            h6 {
                font-size: 12px;
                font-weight: 600;
                line-height: 9px;
            }
        }

        .contact-btn button {
            color: whitesmoke;
            background-color: $secondaryColor;
            font-size: 15px;
            padding: 7px;
            border-radius: 5px;
        }
        
    }
    .footer-icon  {
        display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        .footer-ico h2 {
            font-size: 25px;
            font-weight: bold;
        }
    }
}