.profile-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // Use min-height to ensure the background covers the entire viewport even when the content is smaller
    background-color: white;
    height: 50vh;

    .profile-form-container h2 {
        text-align: center;
    }
    .profile-form-box {
        background-color: rgb(226, 147, 147);
        border-radius: 7px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        padding: 40px;
        width: 380px;
        height: 250px;
        text-align: center;
        cursor: pointer;
    }

    .profile-form-box:hover {
        background:  linear-gradient(to right, rgb(244, 242, 242),rgb(226, 147, 147), rgb(168, 60, 60));
    }
    .form-group h3 {
        color: #655858;
        text-align: left;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}